#remove {
    width: 150px;
}

.background-red {
    background-color: red;
}

.w100px {
    width: 100px  !important;
}

.h100px {
    height: 100px;
}

.color-pink {
    color: pink;
}